<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>
 <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
 	<!--
   	<layout class="org.apache.log4j.PatternLayout">
     	<param name="ConversionPattern" value="%d{ABSOLUTE} %5p %c{1}:%L - %m%n"/>
	</layout>
	-->
   <layout class="org.apache.log4j.PatternLayout">
     <param name="ConversionPattern" value="[%t] %d{ABSOLUTE} %5p %c{1} - %m%n"/>
	</layout>
     </appender>
    <logger name="com.xinqihd">
	  <level value="debug"></level>
    </logger>
    <logger name="script">
	  <level value="debug"></level>
    </logger>
    <logger name="com.xinqihd.sns.gameserver.geom.GeomUtil">
      <level value="debug"></level>
    </logger>
    <logger name="com.xinqihd.sns.gameserver.config.ZooKeeperUtil">
	  <level value="info"></level>
    </logger>
    <logger name="com.xinqihd.sns.gameserver.transport">
    	<level value="info"></level>
    </logger>
    <logger name="com.xinqihd.sns.gameserver.transport.GameHandler">
    	<level value="debug"></level>
    </logger>
	<logger name="com.xinqihd.sns.gameserver.session.MinaMessageQueue">
		<level value="info"></level>
	</logger>
    <root>
	  <priority value="info"></priority>
	  <appender-ref ref="stdout"/>
	</root>
</log4j:configuration>
